.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 63px;
    max-width: 1440px;
    background-image: url(../img/about/about-bg-desk.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
    gap: 130px;
  }
}

.about-img-wrapper {
  @include media(desktop) {
    order: 2;
  }
}

.about-img {
  margin-left: auto;
  margin-right: 39px;

  @include media(desktop) {
    margin: 0;
  }
}

.about-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1f2a44;

  @include media(desktop) {
    max-width: 522px;
  }
}

.about-text-span {
  font-weight: 700;
}

.about-brilliants-img {
  position: absolute;
  top: 423px;
  left: 43px;

  @include media(desktop) {
    top: 504px;
    left: 563px;
  }
}
