.cookie-banner-section {
  background: #f9d0a0;
  padding: 38px 16px 74px;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    padding: 20px 28px;
    max-width: 1440px;
  }
}

.cookie-banner-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cookie-banner-text {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3e332b;
  margin-bottom: 24px;

  @include media(desktop) {
    max-width: 595px;
    margin-bottom: 0;
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-grow: 1;
    flex-direction: row;
    justify-content: end;
  }
}

.cookie-accept-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3e332b;
  border-radius: 40px;
  padding: 24px 32px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #f9d0a0;
  width: 100%;
  max-width: 295px;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
  }

  @include media(desktop) {
  }
}

.cookie-decline-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3e332b;
  border-radius: 40px;
  padding: 23px 31px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #3e332b;
  width: 100%;
  max-width: 295px;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
  }

  @include media(desktop) {
  }
}

.show-cookie-banner {
  display: block;
}
