.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
    max-width: max-content;
    margin-left: auto;
    margin-right: 275px;
  }
}

.contact-title {
  margin-bottom: 38px;

  @include media(desktop) {
  }
}

.contact-subtitle {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  color: #3e332b;
  margin-bottom: 14px;

  @include media(desktop) {
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3e332b;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.contact-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3e332b;

  @include media(desktop) {
  }
}
