.difficulty-section {
  padding-top: 80px;

  @include media(desktop) {
    padding-top: 150px;
  }
}

.difficulty-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.difficulty-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    gap: 109px;
  }
}

.difficulty-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include media(desktop) {
    margin: 0;
  }
}

.difficulty-text {
  padding: 0 20px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000;

  @include media(desktop) {
    padding: 0;
    max-width: 325px;
  }
}

.difficulty-br {
  display: none;

  @include media(desktop) {
    display: block;
  }
}
