.faq-section {
  padding-top: 80px;

  @include media(desktop) {
    padding-top: 150px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 93px;
    position: relative;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 335px;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 630px;
    min-width: 630px;
  }
}

.faq-top-text-btn {
  border: 1px solid #ffb804;
  border-radius: 4px;
  padding: 9px;
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  height: 36px;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  transform: rotate(180deg);

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #1f2a44;
  text-align: left;
  width: 100%;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1f2a44;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
  }
}

.is-visible {
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-bottom-text {
  border: 1px solid #1f2a44;
  border-radius: 4px;
  padding: 9px;
  margin-top: 4px;
}

.faq-img {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.faq-brilliants-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 440px;
  }
}
