.gameplay-section {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 150px;
    max-width: 1440px;
  }
}

.gameplay-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-top-text-desk {
  display: none;

  @include media(desktop) {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    color: #1f2a44;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.gameplay-content-wrapper-desk {
  margin-bottom: 20px;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
  }
}

.gameplay-text-wrapper-desk {
  display: none;

  @include media(desktop) {
    display: flex;
    flex-direction: column;
    gap: 46px;
    max-width: 305px;
  }
}

.gameplay-text-desk {
  @include media(desktop) {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    color: #1f2a44;
  }
}

.gameplay-img-wrapper {
  @include media(desktop) {
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}

.gameplay-text-wrapper-mob {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 20px;

  @include media(desktop) {
    display: none;
  }
}

.gameplay-text-mob {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  color: #1f2a44;

  @include media(desktop) {
  }
}
