.privacy-body {
  .header {
    background: #7bbcfb;
  }

  .header-bg-wrapper {
    background-image: none;
  }

  .menu-icon {
    fill: #ffb804;
  }
}

.policy-section {
  background: #7bbcfb;
  padding-top: 126px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 137px;
    padding-bottom: 100px;
  }
}

.policy-main-title {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: #ffb804;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.policy-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #1f2a44;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1f2a44;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1f2a44;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  font-weight: 700;
}

.policy-link {
  font-weight: 700;
}
