.privacy-body {
  .header-bg-wrapper {
    background-image: none;
  }
}

.policy-section {
  background: #f9d0a0;
  padding-top: 126px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 137px;
    padding-bottom: 100px;
  }
}

.policy-main-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.5;
  text-align: center;
  color: #205144;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.policy-title {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #3e332b;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #3e332b;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #3e332b;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  font-weight: 700;
}

.policy-link {
  font-weight: 700;
}
