.restoration-section {
}

.restoration-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 53px;
    max-width: 1440px;
    background-image: url(../img/restoration/restoration-bg-desk.png);
    background-repeat: no-repeat;
    background-position: top 123px left;
    background-size: auto;
  }
}

.restoration-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.restoration-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    gap: 128px;
  }
}

.restoration-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include media(desktop) {
    margin: 0;
    margin-right: 109px;
  }
}

.restoration-list {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    padding: 0;
  }
}

.restoration-list-item {
  background: #86cbff;
  border-radius: 4px;
  padding: 18px;

  @include media(desktop) {
  }
}

.restoration-item-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #1f2a44;

  @include media(desktop) {
  }
}

.restoration-big-brilliant-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 538px;
    z-index: 1;
  }
}

.restoration-small-brilliant-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 644px;
  }
}
