<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">Game Idea</h2>
      <div class="about-content-wrapper">
        <div class="about-img-wrapper">
          <picture>
            <source
              srcset="./img/about/about-img-desk.png"
              media="(min-width: 1440px)"
              width="214"
              height="370" />
            <source
              srcset="./img/about/about-img-mob.png"
              width="200"
              height="344" />
            <img
              class="about-img"
              src="./img/about/about-img-mob.png"
              alt="Screenshot of the game"
              width="200"
              height="344"
              loading="lazy"
          /></picture>
        </div>
        <p class="about-text about-top-text">
          <span class="about-text-span">Match Valley</span>
          combines classic match-3 gameplay with light renovation and
          progression mechanics.<br />
          By completing puzzles, players earn rewards that allow them to restore
          buildings, unlock new areas, and bring life back to the valley. Look,
          most match-3 games? You play 'em for like a week and forget about
          them. But this one actually makes you want to check back in to see how
          your valley's shaping up.
        </p>
      </div>
    </div>
    <picture>
      <source
        srcset="./img/about/about-brilliants-desk.png"
        media="(min-width: 1440px)"
        width="214"
        height="134" />
      <source
        srcset="./img/about/about-brilliants-mob.png"
        width="168"
        height="90" />
      <img
        class="about-brilliants-img"
        src="./img/about/about-brilliants-mob.png"
        alt="Screenshot of the game"
        width="168"
        height="90"
        loading="lazy"
    /></picture>
  </div>
</section>
