<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">What’s The Game</h2>
      <div class="about-content-wrapper">
        <div class="about-img-wrapper">
          <picture>
            <source
              srcset="./img/about/about-img-desk.png"
              media="(min-width: 1440px)"
              width="454"
              height="353" />
            <source
              srcset="./img/about/about-img-mob.png"
              width="335"
              height="260" />
            <img
              class="about-img"
              src="./img/about/about-img-mob.png"
              alt="Screenshot of the game"
              width="335"
              height="260"
              loading="lazy"
          /></picture>
        </div>
        <p class="about-text about-top-text">
          So <span class="about-text-span">Color Wood Jam</span> is basically
          this logic puzzle where you're moving these colored wooden blocks
          around to clear paths and finish levels.
        </p>
        <p class="about-text about-bottom-text">
          You gotta think through your moves instead of racing the clock -
          <span class="about-text-span"
            >each puzzle's like a mini-challenge</span
          >
          that won't make you wanna chuck your phone across the room.
        </p>
      </div>
    </div>
  </div>
</section>
