<section class="section boosters-section" id="boosters">
  <div class="boosters-bg-wrapper">
    <div class="container boosters-container">
      <h2 class="section-title boosters-title">Boosters</h2>
      <div class="boosters-content-wrapper">
        <picture>
          <source
            srcset="./img/boosters/boosters-img-desk.png"
            media="(min-width: 1440px)"
            width="507"
            height="370" />
          <source
            srcset="./img/boosters/boosters-img-mob.png"
            width="375"
            height="435" />
          <img
            class="boosters-img"
            src="./img/boosters/boosters-img-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="435"
            loading="lazy"
        /></picture>
        <div class="boosters-list-wrapper">
          <p class="boosters-list-text">
            To keep puzzles interesting, the game features:
          </p>
          <ul class="boosters-list">
            <li class="boosters-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="boosters-item-text">
                Tons of different boosters that all do their own thing
              </p>
            </li>
            <li class="boosters-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="boosters-item-text">
                Tricky spots where you actually have to think, not just hope for
                the best
              </p>
            </li>
            <li class="boosters-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="boosters-item-text">
                Combinations that reward smart planning
              </p>
            </li>
            <li class="boosters-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="boosters-item-text">
                The game gets harder bit by bit (which is way better than sudden
                difficulty spikes)
              </p>
            </li>
            <li class="boosters-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="boosters-item-text">
                When you finally crack a tough level, it feels earned - not like
                the game was just being mean to you.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
