<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="section-title contact-title">CONTACT</h2>
      <p class="contact-subtitle">Questions or feedback:</p>
      <a href="mailto:info@lunalite.pro" class="contact-link"
        >info@lunalite.pro</a
      >
      <p class="contact-text">Publisher: Lunalite Games</p>
    </div>
    <img
      class="contact-img"
      src="./img/contact/contact-img-desk.png"
      alt="Screenshot of the game"
      width="253"
      height="239"
      loading="lazy"
    />
  </div>
</section>
