<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <h2 class="section-title contact-title">CONTACT</h2>
        <p class="contact-subtitle">Support and inquiries:</p>
        <a href="mailto:info@slotrise.online" class="contact-link"
          >info@slotrise.online</a
        >
        <p class="contact-text">Publisher: TaleMonster Games</p>
      </div>
    </div>
  </div>
</section>
