<section class="section difficulty-section" id="difficulty">
  <div class="container difficulty-container">
    <h2 class="section-title rooms-title">Difficulty Flow</h2>
    <div class="difficulty-content-wrapper">
      <picture>
        <source
          srcset="./img/difficulty/difficulty-img-desk.png"
          media="(min-width: 1440px)"
          width="738"
          height="371" />
        <source
          srcset="./img/difficulty/difficulty-img-mob.png"
          width="375"
          height="189" />
        <img
          class="difficulty-img"
          src="./img/difficulty/difficulty-img-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="189"
          loading="lazy"
      /></picture>
      <p class="difficulty-text">
        Short and clear early levels for onboarding.<br class="difficulty-br" />
        Gradual increase in complexity. More colors and obstacles over time.
      </p>
    </div>
  </div>
</section>
