<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <div class="faq-content-wrapper">
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Is Brilliant Delivery free to play?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes! The game is free with optional in-app purchases.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Can I play offline?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Absolutely. You can enjoy the game anywhere, anytime.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Do the levels get more difficult?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes, each level introduces new gadgets and more complex delivery
            puzzles.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is it suitable for kids?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes, the game is family-friendly and encourages logical thinking.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Will there be more levels?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes! The developers plan to release frequent updates with fresh
            challenges.
          </p>
        </li>
      </ul>
      <img
        class="faq-img"
        src="./img/faq/faq-img-desk.png"
        alt="Screenshot of the game"
        width="462"
        height="739"
        loading="lazy"
      />
      <img
        class="faq-brilliants-img"
        src="./img/faq/faq-brilliants-desk.png"
        alt="Screenshot of the game"
        width="214"
        height="134"
        loading="lazy"
      />
    </div>
  </div>
</section>
