<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text"
            >Is Color Wood Jam – Block Puzzle free to play?
          </span>
        </button>
        <p class="faq-bottom-text">
          Yes. The game is free to download with optional in-app purchases.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text">Do I need fast reactions to play?</span>
        </button>
        <p class="faq-bottom-text">
          No. The game is turn-based and encourages slow, thoughtful moves.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text">Is the game suitable for beginners?</span>
        </button>
        <p class="faq-bottom-text">
          Yes. Early levels clearly explain mechanics and ease players in.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text"
            >Does the difficulty increase over time?
          </span>
        </button>
        <p class="faq-bottom-text">
          Yes. Levels gradually introduce more colors and tighter spaces.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text">Can I play offline?</span>
        </button>
        <p class="faq-bottom-text">
          Yeah, you can play most of it offline - great for flights or when your
          wifi's acting up.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text"
            >Are levels repeated or randomly generated?
          </span>
        </button>
        <p class="faq-bottom-text">
          Each level is designed by actual humans, not just randomly thrown
          together.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text">Is this game good for relaxation?</span>
        </button>
        <p class="faq-bottom-text">
          Absolutely. Calm visuals and no time pressure make it ideal for
          stress-free play.
        </p>
      </li>
    </ul>
  </div>
</section>
