<section class="section gameplay-section" id="gameplay">
  <div class="container gameplay-container">
    <h2 class="section-title gameplay-title">Match Gameplay</h2>
    <p class="gameplay-top-text-desk">
      Every few levels, they throw in something new to keep things interesting -
      you won't get bored doing the same thing over and over.
    </p>
    <div class="gameplay-content-wrapper-desk">
      <div class="gameplay-text-wrapper-desk">
        <p class="gameplay-text-desk">Match three or more identical elements</p>
        <p class="gameplay-text-desk">
          You've got to hit your goals before you run out of moves
        </p>
      </div>
      <div class="gameplay-img-wrapper">
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="414"
            height="414" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="375"
            height="375" />
          <img
            class="about-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="375"
            loading="lazy"
        /></picture>
      </div>
      <div class="gameplay-text-wrapper-desk">
        <p class="gameplay-text-desk">Use boosters to overcome obstacles</p>
        <p class="gameplay-text-desk">
          Unlock new mechanics as difficulty increases
        </p>
      </div>
    </div>
    <div class="gameplay-text-wrapper-mob">
      <p class="gameplay-text-mob">
        Every few levels, they throw in something new to keep things interesting
        - you won't get bored doing the same thing over and over.
      </p>
      <p class="gameplay-text-mob">Match three or more identical elements</p>
      <p class="gameplay-text-mob">
        You've got to hit your goals before you run out of moves
      </p>
    </div>
  </div>
</section>
