<section class="section gameplay-section" id="gameplay">
  <div class="container gameplay-container">
    <h2 class="section-title gameplay-title">How To Play</h2>
    <ul class="gameplay-list">
      <li class="gameplay-list-item">
        <img
          class="gameplay-img"
          src="./img/gameplay/gameplay-img1.png"
          alt="Screenshot of the game"
          width="197"
          height="197"
          loading="lazy"
        />
        <p class="gameplay-item-text">Slide wooden blocks across the board</p>
      </li>
      <li class="gameplay-list-item">
        <img
          class="gameplay-img"
          src="./img/gameplay/gameplay-img2.png"
          alt="Screenshot of the game"
          width="197"
          height="197"
          loading="lazy"
        />
        <p class="gameplay-item-text">Match colors to unlock paths</p>
      </li>
      <li class="gameplay-list-item">
        <img
          class="gameplay-img"
          src="./img/gameplay/gameplay-img3.png"
          alt="Screenshot of the game"
          width="197"
          height="197"
          loading="lazy"
        />
        <p class="gameplay-item-text">Free blocked elements step by step</p>
      </li>
      <li class="gameplay-list-item">
        <img
          class="gameplay-img"
          src="./img/gameplay/gameplay-img4.png"
          alt="Screenshot of the game"
          width="197"
          height="197"
          loading="lazy"
        />
        <p class="gameplay-item-text">
          Complete the level using logical sequencing
        </p>
      </li>
    </ul>
  </div>
</section>
