<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <picture>
        <source
          srcset="./img/hero/hero-title-desk.png"
          media="(min-width: 1440px)"
          width="646"
          height="240" />
        <source
          srcset="./img/hero/hero-title-mob.png"
          width="335"
          height="128" />
        <img
          class="hero-title-img"
          src="./img/hero/hero-title-mob.png"
          alt="Title"
          width="335"
          height="128"
      /></picture>
      <a
        class="hero-btn"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.bodhi.wood.out"
        rel="noopener noreferrer"
        aria-label="Download on Google Play"
      >
        <img
          class="hero-play-img"
          src="./img/hero/hero-play.png"
          alt="Title"
          width="243"
          height="70"
        />
      </a>
    </div>
  </div>
</section>
