<div class="context-menu">
  <div class="context-bg-wrapper">
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#idea">Game Idea</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gameplay"
            >Match Gameplay</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#restoration"
            >Valley Restoration</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#boosters">Boosters</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#style">Visual Mood</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#faq">FAQ</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <img
      class="context-img"
      src="./img/context/context-bg-mob.png"
      alt="Screenshot of the game"
      width="214"
      height="134"
      loading="lazy"
    />
  </div>
</div>
