<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >What’s The Game</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >How To Play</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#difficulty"
          >Difficulty Flow</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#style">Visual Style</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Key Features</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
