<section class="section restoration-section" id="restoration">
  <div class="restoration-bg-wrapper">
    <div class="container restoration-container">
      <h2 class="section-title rooms-title">Valley Restoration</h2>
      <div class="restoration-content-wrapper">
        <picture>
          <source
            srcset="./img/restoration/restoration-img-desk.png"
            media="(min-width: 1440px)"
            width="414"
            height="466" />
          <source
            srcset="./img/restoration/restoration-img-mob.png"
            width="375"
            height="422" />
          <img
            class="restoration-img"
            src="./img/restoration/restoration-img-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="422"
            loading="lazy"
        /></picture>
        <ul class="restoration-list">
          <li class="restoration-list-item">
            <p class="restoration-item-text">
              Restore houses, farms, and landmarks
            </p>
          </li>
          <li class="restoration-list-item">
            <p class="restoration-item-text">Unlock new zones of the valley</p>
          </li>
          <li class="restoration-list-item">
            <p class="restoration-item-text">
              You can actually watch the place get better as you play
            </p>
          </li>
          <li class="restoration-list-item">
            <p class="restoration-item-text">
              Your puzzle wins actually show up in the world
            </p>
          </li>
        </ul>
      </div>
    </div>
    <img
      class="restoration-big-brilliant-img"
      src="./img/restoration/restoration-big-brilliant.png"
      alt="Screenshot of the game"
      width="142"
      height="147"
      loading="lazy"
    />
    <img
      class="restoration-small-brilliant-img"
      src="./img/restoration/restoration-small-brilliant.png"
      alt="Screenshot of the game"
      width="91"
      height="96"
      loading="lazy"
    />
  </div>
</section>
