<section class="style-section section" id="style">
  <div class="style-bg-wrapper">
    <div class="container style-container">
      <h2 class="section-title style-title">Visual Style</h2>
      <div class="style-swiper-container">
        <ul class="swiper-wrapper style-swiper-wrapper">
          <li class="swiper-slide style-slide">
            <img
              class="style-img"
              src="./img/style/style-img1.png"
              alt="Screenshot of the game"
              width="305"
              height="542"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide style-slide">
            <img
              class="style-img"
              src="./img/style/style-img2.png"
              alt="Screenshot of the game"
              width="305"
              height="542"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide style-slide">
            <img
              class="style-img"
              src="./img/style/style-img3.png"
              alt="Screenshot of the game"
              width="305"
              height="542"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide style-slide">
            <img
              class="style-img"
              src="./img/style/style-img4.png"
              alt="Screenshot of the game"
              width="305"
              height="542"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide style-slide">
            <img
              class="style-img"
              src="./img/style/style-img5.png"
              alt="Screenshot of the game"
              width="305"
              height="542"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide style-slide">
            <img
              class="style-img"
              src="./img/style/style-img6.png"
              alt="Screenshot of the game"
              width="305"
              height="542"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide style-slide">
            <img
              class="style-img"
              src="./img/style/style-img7.png"
              alt="Screenshot of the game"
              width="305"
              height="542"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide style-slide">
            <img
              class="style-img"
              src="./img/style/style-img8.png"
              alt="Screenshot of the game"
              width="305"
              height="542"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <div class="controls style-controls">
        <button
          class="arrow-btn"
          id="styleLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="42" height="42">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="arrow-btn" id="styleRightArrow" aria-label="Next slide">
          <svg class="arrow-icon" width="42" height="42">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
