@import './fonts.scss';
@import 'modern-normalize';
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hero.scss';
@import './components/about.scss';
@import './components/gameplay.scss';
@import './components/difficulty.scss';
@import './components/style.scss';
@import './components/features.scss';
@import './components/faq.scss';
@import './components/contact.scss';
@import './components/footer.scss';
@import './components/banner.scss';
@import './components/privacy.scss';
